.gamepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .3fr 2fr 1fr 1fr;
  gap: 1.5px 1.5px;
  grid-template-areas:
    "gamepage-score gamepage-score"
    "question question"
    "opt1  opt2"
    "opt3  opt4";
  width: 100%;
  min-height: 90vh;
}

.gamepage-score {
  display: flex;
  justify-content: space-between;
  grid-area: gamepage-score;
  padding: 1rem;
} 

.gamepage-startgame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.gamepage-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);  
  display: grid;
  place-content: center;
  z-index: 5;
}

.gamepage-popup {
  font-size: 1.6rem;
  padding: 2rem;
  margin: 0 1rem;
  border: 1px solid;
  box-shadow: 2px 2px 4px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.gamepage-fullscreen-btn {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gamepage-button {
  text-align: center;
  background-color: lightpink;
  font-size: medium;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  height: 100%;
  font-style: oblique;
  cursor: pointer;
}

.gamepage-ready-text {
  margin: 100% 1rem 0;
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

.opt1 {
  grid-area: opt1;
}

.opt2 {
  grid-area: opt2;
}

.opt3 {
  grid-area: opt3;
}

.opt4 {
  grid-area: opt4;
}

.opt5 {
  grid-area: opt5;
}

.opt6 {
  grid-area: opt6;
}

.question {
  grid-area: question;
}

.gamepage-A {
  background-color: aquamarine;
}

.gamepage-B {
  background-color: beige;
}

.gamepage-C {
  background-color: floralwhite;
}

.gamepage-D {
  background-color: honeydew;
}