.login {
  padding: 40px;
  background-color: #fff;
  height: 100vh;
  overflow-y: hidden;
  
}

.login-input-group {
  margin-bottom: 15px;
}

.login label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login input {
  width: 100%;
  padding: 50px;
  border: 1px solid #ccc; /* Corrected from '5x' to '1px' */
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.login button {
  background-color: #4caf50;
  cursor: pointer;
  color: #fff;
  margin-top: 10px;
  width: 100%;
  padding: 50px;

}
